
    @media only screen and (max-width: 767px) {
    /* Regole CSS per smartphone */
    /* Ad esempio: */
   .logoQuerie{
    display:none ;
    
   }
   .navelement{
    width: 230%;
    height: auto;
   }
  }
/* 



  /* @import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700'); */

 /* :root {
  --color: #104B82;
  --transition-time: 0.5s;
}  */

/* * {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  min-height: 100vh;
  /* font-family: 'Open Sans'; */
  /* background: #fafafa; */
/* }  */
/* 
a {
  color: inherit;
} */

 /* .cards-alessio-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}   */
 .btnsprofile{ 
    margin-left: 40px;  
    /* border-radius: 100%; */
    width: 600px;
    height: 300px;
    -webkit-box-shadow: 0px 0px 33px -6px #000000; 
     box-shadow: 0px 0px 33px -6px #000000;
     /* background-image: url('/public/sfondoHome.png'); Inserisci qui l'URL dell'immagine */
     background-size: cover; /*Per adattare l'immagine allo spazio disponibile */
     background-position: center; /*Per centrare l'immagine all'interno dell'elemento */
   
} 

 .card-alessio {
  /* font-family: 'Heebo'; */
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  /* background-image: url('/public/sfondoHome.png');  */
  background-size: cover; 
  background-position: center; 
  height: 19em;
  width: 13em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;  
  margin: 2em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
} 

 .card-alessio:hover { 
   transform: rotate(0); 
 } 

 .card-alessio h1 {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2em;
} 

 .card-alessio p { 
   font-size: 0.75em;
  font-family: 'Open Sans';
   margin-top: 0.5em;
   line-height: 2em; 
 }  

.card-alessio .tags {
  display: flex;
}

 .card-alessio .tags .tag {
  font-size: 0.75em;
  background: rgba(176, 7, 7, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
 }  

 .card-alessio:hover .tags .tag {
  background: rgb(70, 116, 162);
  color: white;
} 

 .card-alessio .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
} 

 .card-alessio:before, .card:after { 
  content: '';
  transform: scale(2.8);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute; 
  left: -50%;
  top: -50%;
  z-index: -5; 
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out; 
 } 

 .card-alessio:before { 
   background: #ddd; 
   width: 250%; 
   height: 250%;
 }

 .card-alessio:after {
  background: white;
  width: 200%;
  height: 200%;
} 


.card-alessio:hover {
  color: var(--color);
}

.card-alessio:hover:before, .card-alessio:hover:after {
  transform: scale(2.8);
}

 .card-alessio-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
} 

 .info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
} 

 .info img {
  height: 3em;
  margin-right: 0.5em;
} 

 .info h1 {
  font-size: 1em;
  font-weight: normal;
} 

/* MEDIA QUERIES */
/* @media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
} */

/* @media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  } */
  /* .info {
    justify-content: center;
  } */
  /* .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  } */
/* } */

/* @media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  } */
  /* .card {
    max-width: calc(100vw - 4rem);
  }
} */

/* @media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  } */
  /* .info h1 {
    margin: 0;
  } */
/* } */ 