*{
    font-family: "Cinzel", serif !important;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;  
    color:rgb(199, 159, 50);

}
hr{
    color: #e09621;
    border: solid 1px;
    margin-left: 10%;
    margin-right: 10%;

}

.background_image{
    background-image: url('background_image.mp4');
    background-size: contain;
    background-repeat: no-repeat;
    width:200px ;
    height: 100vh;
}

.bgr-primary{
    background-color: rgb(33, 37, 41);
}

.bgr-secondary{
    background-color: #e0ad21;
}

.bgr-terziary{
    background-color: rgb(43, 48, 53);
}

.color-primary{
    color: rgb(33, 37, 41);
}

.color-secondary{
    color: #e0ad21;
}

.color-terziary{
    color: rgb(43, 48, 53);
}


nav{
    height: 80px;
}

.TitleNav{
    font-size: xx-large;
    transition: transform;
    transition-duration: 500ms 
}
.TitleNav:hover{
    font-size: xx-large;
    color: #e0ad21;
    transform: scale(1.2);
}


.deluxe{
    margin-top: 80px;
    align-items: center;
}

.color-secondary{
    background-color:#e0ad21;
    color: black;
    font-weight: bold;
}

.deluxe-style{
 border: 1px solid transparent ;
}

.deluxe-style a:hover{
    border: 1px solid #e0ad21;
}


.img_logo{
    width:8vh;
    height: auto ;
}

.btn-offcanvas{
    color: #e0ad21;
    border:1px solid transparent;
}

.offcanvas-nav {
    background-color: transparent; /* Rimuove il colore di sfondo */
    padding: 0; /* Rimuove il padding */
    /* border-top: none; Rimuove il bordo superiore */
    text-align: center; /* Puoi personalizzare l'allineamento del testo se necessario */
    margin: 0%;
  }

  /* .swiper {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  } */