*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;  
    color:white;

}
hr{
    color: white;
    border: solid 1px;
    margin-left: 10%;
    margin-right: 10%;

}

/* .background_image{
    background-image: url('background_image.mp4');
    background-size: contain;
    background-repeat: no-repeat;
    width:200px ;
    height: 100vh;
} */

.styleColor{
  background: #104B82;
  background: -webkit-linear-gradient(59deg, #698EB6 , #104B82);
  background: linear-gradient(59deg, #698EB6 , #104B82);
  color: white;
}

.bgr-primary{
    background-color: white;
}

.bgr-secondary{
    background-color: white;
}

.bgr-terziary{
    background-color: white;
}

.color-primary{
    color: white;
}

.color-secondary{
    color: white;
}

.color-terziary{
    color: white;
}


nav{
  background: #104B82;
  background: -webkit-linear-gradient(59deg, #698EB6 , #104B82);
  background: linear-gradient(59deg, #698EB6 , #104B82);
  color: white;
    height: 80px;
}

.lenguages{
  border-radius: 0%;
}
.container-nav{
  display: flex;
  justify-content: end;
}

body{
  background: #104B82;
  /*background: -webkit-linear-gradient(59deg, #698EB6 , #104B82);
  background: linear-gradient(59deg, #698EB6 , #104B82); */
  color: white;
}

:focus-visible {
    outline:0px ;
}




.navelement{
  width:45vh;
  height: auto ;
  transition: transform;
  transition-duration: 500ms;
  padding: 10px;
}


.TitleNav:hover{
    font-size: xx-large;
    color: white;
    transform: scale(1.2);
}


.deluxe{
    margin-top: 80px;
    align-items: center;
}

.color-secondary{
    background-color:white;
    color: white;
    font-weight: bold;
}

.deluxe-style{
 border: 1px solid transparent ;
}

.deluxe-style a:hover{
    border: 1px solid white;
}


.img_logo{
    width:5vh;
    height: auto ;
}

.btn-offcanvas{
  width: auto;
  height: auto;
    color: white;
    border:1px solid transparent;
}

.offcanvas-nav {
  
    background-color: transparent; /* Rimuove il colore di sfondo */
    padding: 0; /* Rimuove il padding */
    /* border-top: none; Rimuove il bordo superiore */
    text-align: center; /* Puoi personalizzare l'allineamento del testo se necessario */
    margin: 0%;
  }


  /* inizio carosello */
  corpo {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    font-family: "Satoshi", sans-serif;
    font-size: var(--lx-text-01);
    font-weight: 500;
    color: #ffffe6;
    background-color: #10100e;
  }
  
  .menu{
    margin-right: 2%;
    font-size: large;
  }

  /*commento per il pull*/

  @media only screen and (max-width: 768px) {
    .TitleNav{
      font-size: 20px;
    }
    .img_logo{
      width:3vh;
      height: auto ;
    }

  }

  
  .img-preview{
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat:no-repeat;
  }

  /*show*/

.aspect-ratio-wrapper {
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.aspect-ratio-wrapper img {
  position: absolute;
  top: 0;
  object-fit: cover;
}

.title-section {
      background: linear-gradient(59deg, #084F8C, #6380A6);
      margin-bottom: 100px;
      margin-top: 100px;
}

.text-container {
      color: white;
      text-align: justify;
      padding: 20px; 
}